<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> House with the most female population </title>
    <link rel="stylesheet" type="text/css" href="../static/mostFemales.css" />
</head>
<h2 class="title">
  <center>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:20px">Most deaths occured in which year?</p>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:18px">RESULTS:</p>
    
  </center>
</h2>
<body>

  <table border="1" style="font-family:Georgia, Garamond, Serif;color:rgb(255, 255, 255);font-style:bold;">
    <tr style="font-variant:small-caps;font-style:normal;color:rgb(255, 255, 255);font-style:bold;font-size:18px;">
    <thead>
      <th>Most DEATHS count</th>
      <th>Year</th>
  </thead>
  <tbody>
      

      <tr>
          <td>
              141
          </td>
          <td>
              TA 2
          </td>
      </tr>

  </tbody>
  </table>
</body>

</html>