<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Which realm has the most spoken language?  </title>
    <link rel="stylesheet" type="text/css" href="../static/10wand.css" />
</head>
<h2 class="title">
  <center>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:20px">Which realm has the most spoken language?  </p>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:18px">RESULTS:</p>
    
  </center>
</h2>
<body>

  <table border="1" style="font-family:Georgia, Garamond, Serif;color:rgb(255, 255, 255);font-style:bold;">
    <tr style="font-variant:small-caps;font-style:normal;color:rgb(255, 255, 255);font-style:bold;font-size:18px;">
    <thead>
      <th>Realm Name</th>
      <th>count</th>
  </thead>
  <tbody>

      <tr>
          <td>
              Gondor
          </td>
          <td>
              34
          </td>
      </tr>

  </tbody>
  </table>
</body>

</html>