<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> character with multiple realms ?</title>
    <link rel="stylesheet" type="text/css" href="../static/quidditch.css" />
</head>
<h2 class="title">
  <center>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:20px">character with multiple realms ?</p>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:18px">RESULTS:</p>
    
  </center>
</h2>
<body>

  <table border="1" style="font-family:Georgia, Garamond, Serif;color:rgb(255, 255, 255);font-style:bold;">
    <tr style="font-variant:small-caps;font-style:normal;color:rgb(255, 255, 255);font-style:bold;font-size:18px;">
    <thead>
      <th>Name</th>
      <th>Realm Count</th>
  </thead>
  <tbody>
      <tr>
          <td>
              Sauron
          </td>
          <td>
             2
          </td>
      </tr>

      <tr>
        <td>
            Boromir
        </td>
        <td>
           2
        </td>
    </tr>

    <tr>
      <td>
          Legolas
      </td>
      <td>
         2
      </td>
  </tr>

  </tbody>
  </table>
</body>

</html>