<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Which charcter can speak the most multiple languages? </title>
    <link rel="stylesheet" type="text/css" href="../static/patronus.css" />
</head>
<h2 class="title">
  <center>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:20px">Which charcter can speak the most multiple languages?</p>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:18px">RESULTS:</p>
    
  </center>
</h2>
<body>

  <table border="1" style="font-family:Georgia, Garamond, Serif;color:rgb(255, 255, 255);font-style:bold;">
    <tr style="font-variant:small-caps;font-style:normal;color:rgb(255, 255, 255);font-style:bold;font-size:18px;">
    <thead>
      <th>Name</th>
      <th>Langauge count</th>
  </thead>
  <tbody>


      <tr>
          <td>
             Gandalf
          </td>
          <td>
              4
          </td>
      </tr>
  </tbody>
  </table>
</body>

</html>