<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Name of characters that speak Westron </title>
    <link rel="stylesheet" type="text/css" href="../static/effectsOfSpell.css" />
</head>
<h2 class="title">
  <center>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:20px">Name of characters that speak Westron</p>
    <br>
    <p style="color:rgb(255, 255, 255);font-style:bold;font-size:18px">RESULTS:</p>
    
  </center>
</h2>
<body>

  <table border="1" style="font-family:Georgia, Garamond, Serif;color:rgb(255, 255, 255);font-style:bold;">
    <tr style="font-variant:small-caps;font-style:normal;color:rgb(255, 255, 255);font-style:bold;font-size:18px;">
    <thead>
      <th>NameS</th>
  </thead>
  <tbody>

      <tr>
          <td>
            Boromir
          </td>
      </tr>
      <tr><td>
        Gandalf
      </td></tr>
      <tr><td>
        Gimli
      </td></tr>
      <tr><td>
        Legolas
      </td></tr>
      <tr><td>
        Aragorn
      </td></tr>
      <tr><td>
        Frodo Baggins
      </td></tr>
      <tr><td>
        Meriadoc Brandybuck
      </td></tr>
      <tr><td>
        Peregrin took
      </td></tr>
      <tr><td>
        Samwise Gamgee
      </td></tr>
      <tr><td>
        Bilbo Baggins
      </td></tr>


  </tbody>
  </table>
</body>

</html>