<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lord of the Ring Ontology</title>
    <link rel="stylesheet" href="../static/web.css">
    
</head>
    <body>
                 <section class="dis">
                    <header>
                        <h2 class="heading">Lord of the Ring</h2>
                        <div class="toggle"></div>
                    </header>
                    <video src="../static/lordofthering.mp4" muted loop autoplay></video>
                    <div class="vid"></div>
                    <div class="text">
                        <h2>LODR World Queries</h2>
                        <br><br><br>
                <label for="Query">Choose a Query :  </label>
                <div class="multi-button">
                    <form action="page1.html" method="post">
                        <input type="submit" name="submit_button" value="The most deaths in the year" class="multi-button_button" />
                    </form>
                    
                    <form action="page2.html" method="post">
                        <input type="submit" name="submit_button" value="All the enemies of Sauron" class="multi-button_button" />
                    </form>
                    
                    <form action="page3.html" method="post">
                        <input type="submit" name="submit_button" value="All the character names that speak Westron" class="multi-button_button" />
                    </form>
                    <form action="page4.html" method="post">
                        <input type="submit" name="submit_button" value="Which charcter can speak the most multiple languages?" class="multi-button_button" />
                    </form>
                    <form action="page5.html" method="post">
                        <input type="submit" name="submit_button" value="Which charcters has the most realm?" class="multi-button_button" />
                    </form>
 
                 
                </div>
            </body>
            
                
               

               

